@use "../_variables";

h1 {
  //font-family: Parselto;
  //font-family: Lumos;
  font-family: Harryp;
  margin: 0;
  color: goldenrod;
  padding: 100px;
  font-size: 64px !important;
  float: right;
  animation: mymove 10s;
}
