@font-face {
  font-family: Lumos;
  src: url("assets/harry_p/LUMOS.TTF");
}

@font-face {
  font-family: Harryp;
  src: url("assets/harry_p/HARRYP__.TTF");
}

@font-face {
  font-family: Parselto;
  src: url("assets/harry_p/PARSELTO.TTF");
}
