@font-face {
  font-family: Lumos;
  src: url("assets/harry_p/LUMOS.TTF");
}

@font-face {
  font-family: Harryp;
  src: url("assets/harry_p/HARRYP__.TTF");
}

@font-face {
  font-family: Parselto;
  src: url("assets/harry_p/PARSELTO.TTF");
}

$primary-color: goldenrod;
$sec-color: #f8f8f8;
$trd-color: #004269;
$fourth-color: #006496;
$light-color: #fff;
$dark-color: #111;
