@use "./styles/_variables";

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  background-image: url("src/assets/images/wallpaper-hogwarts.jpg");
  background-size: cover;
}

@keyframes mymove {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

li {
  list-style: none;
  //font-family: Parselto;
  font-family: Lumos;
  //font-family: Harryp;
}
