@use "./styles/_variables";

#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  background-image: url("src/assets/images/wallpaper-hogwarts.jpg");
}

h1 {
  //font-family: Parselto;
  //font-family: Lumos;
  font-family: Harryp;
}

li {
  list-style: none;
  //font-family: Parselto;
  font-family: Lumos;
  //font-family: Harryp;
}
